@model MarketApplicationMVC.Application.ViewModel.User.ListUserForListVm

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form asp-controller="User" asp-action="Index" name="formularz" method="post">
    <div class="row">
        <input type="text" asp-for="SearchPhrase" name="searchPhrase" id="searchPhrase" />
        <input type="submit" value="Wyszukaj" />
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        User type
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Users)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserType)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="row">
        <table>
            <tr>
            @for (int i = 1; i <= Math.Ceiling(Model.Count / (decimal)Model.PageSize); i++)
            {
                <td>
                    @if(i != Model.CurrentPage)
                    {
                        <a href="javaScript:PageClick(@i)">@i</a>
                    }
                    else
                    {
                        <span>@i</span>
                    }
                </td>
            }
            </tr>
        </table>
    </div>
    <input type="hidden" name="pageNo" id="pageNo" />
    <input type="hidden" name="pageSize" id="pageSize" value="5" />
</form>

@section Scripts
{
    <script type="text/javascript">
        function PageClick(index) {

            document.getElementById("pageNo").value = index;
            document.formularz.submit();
        }

    </script>
}